#test-list {
	padding-top: 164px;

	@media (max-width: 992px) {
		padding-top: 128px;
	}

	@media (max-width: 485px) {
		padding-top: 164px;
	}
}

.tests {
	&__title {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 63px;
		letter-spacing: 0.03em;
		margin-bottom: 40px;
		text-align: center;
		line-height: 1.7;
		letter-spacing: 0.03em;

		@media (max-width: 1200px) {
			margin-bottom: 24px;
		}

		@media (max-width: 768px) {
			font-size: 53px;
		}

		@media (max-width: 585px) {
			font-size: 42px;
		}
	}
	form {
		display: flex;
		align-items: center;
		gap: 10px;
		margin: 0 auto 50px;
		padding: 10px 20px;
		max-width: 835px;
		width: 100%;
		background-color: #1e1e1e;
		box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
		@media (max-width: 768px) {
			margin-bottom: 24px;
		}
		img {
			display: block;
		}
	}
	#search-test {
		display: block;
		flex: 100% 1 1;
		font-size: 24px;
		letter-spacing: 0.02em;
		font-weight: 200;
		line-height: 1.7;
		border-radius: 5px;
		color: #fff;
		background-color: transparent;
		&:focus {
			outline: none;
		}
		&::placeholder {
			color: rgba(255, 255, 255, 0.8);
		}
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 16px;
		width: 100%;
		margin: 0 auto;
		@media (max-width: 992px) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (max-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: 485px) {
			grid-template-columns: 1fr;
		}
	}
	&__item {
		padding: 20px;
		background-color: #1e1e1e;
		border-radius: 5px;
		box-shadow: 0 0 40px 0 rgba(255, 255, 255, 0.1);
		flex: 300px 0 1;
	}
	&__name {
		font-size: 24px;
		letter-spacing: 0.02em;
		font-weight: 700;
		line-height: 1.7;
		margin-bottom: 10px;
	}
	&__meta-list {
		display: flex;
		align-items: center;
		gap: 4px 16px;
		flex-wrap: wrap;
		margin-bottom: 8px;
	}
	&__meta-item {
		display: flex;
		align-items: center;
		gap: 6px;
	}
	&__desc {
		font-size: 18px;
		line-height: 1.7;
		font-weight: 200;
		letter-spacing: 0.03em;
	}
}
