	.timer {
		margin: 0 auto 22px;
		padding: 8px 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 4px;
		margin: 0 auto;
		border-radius: 5px;
		background-color: #212121;
		box-shadow: 0 0 40px 0 rgba(255, 255, 255, 0.1);
		max-width: 150px;
	}