body {
	background-color: #000;
}

main {
	padding-top: 186px;
}

.container {
	max-width: 1440px;
	padding: 0 15px;
	margin: 0 auto;
}

*::selection {
	color: #000;
	background-color: #fff;
}

#main-page {
	height: 200vh;
}